<div id="londyapp" ng-controller="MainCtrl">
  <div class="settings content">
  </div>
  <div class="sidebar">
    <ul class="tabs">
      <li ng-class="{selected: selectedTab == 'projects'}"><a ui-sref="projects">Projects</a></li>
      <li ng-class="{selected: selectedTab == 'users'}"><a ui-sref="users">Team</a></li>
      <li class="me" ng-class="{selected: selectedTab == 'profile'}"><a ui-sref="profile">Me</a></li>
    </ul>

    <div ui-view="sidebar"></div> 

  </div>
  <div ui-view="mainContent"></div> 

</div>